* {
  margin: 0;
  padding: 0;
}

/******* position: static *******/
.box-orange {
  background: orange;
  height: 100px;
  width: 100px;
}

.box-blue {
  background: lightskyblue;
  height: 100px;
  width: 100px;
}

/******* position: relative *******/
/* .box-orange {
  position: relative;

  top: 120px;
} */

/******* position: absolute *******/
/* .box-orange {
  position: absolute;

  left: 15px;
  top: 15px;
} */

/* .container {
  position: relative;
  background: lightgray;
  margin-top: 20px;
}

.box-orange {
  position: absolute;
  right: 5px;
  top: 5px;
} */

/******* position: fixed *******/
/* .container {
  background-color: #ddd;
  margin: 10px;
  height: 130vh;
}

.box-orange {
  position: fixed;
  right: 10px;
  top: 20px;
} */

/******* position: sticky *******/
/* .sticky {
  position: sticky;
  top: 0;
  margin-top: 10px;
  padding: 10px;
  background-color: #cadae8;
  border: 2px solid #7a4caf;
}

.dummy-text {
  padding-bottom: 1500px;
} */
